<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>Dungeon generator</title>
</head>
<body>
    <!-- TODO:  další možnosti formuláře
                navigace?, footer?, další sekce? -->
    <main>
        <div class="container-fluid vh-100">
            <div class="row vh-100 align-items-center">
                <form class="col-4" method="POST" action="/generate">
                    <div class="mb-3">
                        <label for="algoType" class="form-label">Typ použitého algoritmu</label>
                        <select class="form-select" name="algoType"  aria-label="Default select example">
                            <option selected>Vyberte možnost</option>
                            <option value="1">Cellular Automata</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                      </div>
                      
                      <button type="submit" class="btn btn-primary">Vygenerovat</button>
                </form>
            
                {% if option %}
                <div class="col-8">
                    <img src="../static/svg/map.svg" class="img-fluid" alt="Dungeon map">
                </div>    
                {% endif %}
               
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="../static/js/bootstrap.js"></script>
</body>
</html>