{% extends "base.html" %}
{% block title %}Dungeon generator{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
    <main class="container-fluid d-flex vh-100 justify-content-center align-items-center">
        <form class="col-4" method="POST" action="/generate" novalidate >
            {{form.hidden_tag()}}
            <div class="mb-3">
                {{ form.seed.label(class="form-label") }}
                {{ form.seed(class="form-control") }}
                {% for error in form.seed.errors %}
                    <div class="text-danger">
                        <small>{{ error }}</small>
                    </div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.dungeon_type.label(class="form-label") }}
                {{ form.dungeon_type(class="form-select") }}
                {% for error in form.dungeon_type.errors %}
                    <div class="text-danger">
                        <small>{{ error }}</small>
                    </div>
                {% endfor %}
            </div>
            <div id="dungeonSize" class="mb-3">
                {{ form.dungeon_size.label(class="form-label") }}
                {{ form.dungeon_size(class="form-select") }}
                {% for error in form.dungeon_size.errors %}
                    <div class="text-danger">
                        <small>{{ error }}</small>
                    </div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.dungeon_motif.label(class="form-label") }}
                {{ form.dungeon_motif(class="form-select") }}
                {% for error in form.dungeon_motif.errors %}
                    <div class="text-danger">
                        <small>{{ error }}</small>
                    </div>
                {% endfor %}
            </div>
            <div class="d-flex flex-row justify-content-between mb-3">
                <div class="me-3 flex-fill">
                    {{ form.number_of_players.label(class="form-label") }}
                    {{ form.number_of_players(class="form-control") }}
                    {% for error in form.number_of_players.errors %}
                        <div class="text-danger">
                            <small>{{ error }}</small>
                        </div>
                    {% endfor %}
                </div>
                <div class="flex-fill">
                    {{ form.average_player_level.label(class="form-label") }}
                    {{ form.average_player_level(class="form-control") }}
                    {% for error in form.average_player_level.errors %}
                        <div class="text-danger">
                            <small>{{ error }}</small>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="advancedOptions">
                <div id="optionsCA" class="d-flex flex-column">
                    <p class="border border-danger border-start-0 border-end-0 mb-3">Chosen dungeon type uses cellular automata to generate the dungeon map. For more information see section 3.1 in the Bachelor thesis.</p>
                    <div class="d-flex flex-row mb-3">
                        <div class="flex-fill me-3">
                            {{ form.ca_rows.label(class="form-label") }}
                            {{ form.ca_rows(class="form-control dynamic-input-CA") }}
                            {% for error in form.ca_rows.errors %}
                            <div class="text-danger">
                                <small>{{ error }}</small>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="flex-fill">
                            {{ form.ca_columns.label(class="form-label") }}
                            {{ form.ca_columns(class="form-control dynamic-input-CA") }}
                            {% for error in form.ca_columns.errors %}
                                <div class="text-danger">
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-3">
                        <div class="flex-fill me-3">
                            {{ form.floor_probability.label(class="form-label") }}
                            {{ form.floor_probability(class="form-control dynamic-input-CA") }}
                            {% for error in form.floor_probability.errors %}
                                <div class="text-danger">
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="flex-fill">
                            {{ form.rock_threshold.label(class="form-label") }}
                            {{ form.rock_threshold(class="form-control dynamic-input-CA") }}
                            {% for error in form.rock_threshold.errors %}
                                <div class="text-danger">
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-3">
                        <div class="flex-fill me-3">
                            {{ form.number_of_iterations.label(class="form-label") }}
                            {{ form.number_of_iterations(class="form-control dynamic-input-CA") }}
                            {% for error in form.number_of_iterations.errors %}
                                <div class="text-danger">
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="flex-fill">
                            {{ form.number_of_levels.label(class="form-label") }}
                            {{ form.number_of_levels(class="form-control dynamic-input-CA") }}
                            {% for error in form.number_of_levels.errors %}
                                <div class="text-danger">
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="optionsBSP" class="d-flex flex-column">
                    <p class="border border-danger border-start-0 border-end-0 mb-3">Chosen dungeon type uses binary space partitioning to generate the dungeon map. For more information see section 3.2 in the Bachelor thesis.</p>
                    <div class="d-flex flex-row mb-3">
                        <div class="flex-fill me-3">
                            {{ form.bsp_rows.label(class="form-label") }}
                            {{ form.bsp_rows(class="form-control dynamic-input-BSP") }}
                            {% for error in form.bsp_rows.errors %}
                                <div class="text-danger">
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="flex-fill">
                            {{ form.bsp_cols.label(class="form-label") }}
                            {{ form.bsp_cols(class="form-control dynamic-input-BSP") }}
                            {% for error in form.bsp_cols.errors %}
                                <div class="text-danger">
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-3">
                        <div class="flex-fill me-3">
                            {{ form.bsp_min_partition_width.label(class="form-label") }}
                            {{ form.bsp_min_partition_width(class="form-control dynamic-input-BSP") }}
                            {% for error in form.bsp_min_partition_width.errors %}
                                <div class="text-danger">
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="flex-fill">
                            {{ form.bsp_min_partition_height.label(class="form-label") }}
                            {{ form.bsp_min_partition_height(class="form-control dynamic-input-BSP") }}
                            {% for error in form.bsp_min_partition_height.errors %}
                                <div class="text-danger">
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-3">
                        <div class="flex-fill">
                            {{ form.number_of_floors.label(class="form-label") }}
                            {{ form.number_of_floors(class="form-control dynamic-input-BSP") }}
                            {% for error in form.number_of_floors.errors %}
                                <div class="text-danger">
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3">
                    <div class="flex-fill me-3">
                        {{ form.total_treasure_value.label(class="form-label") }}
                            {{ form.total_treasure_value(class="form-control dynamic-input") }}
                            {% for error in form.total_treasure_value.errors %}
                            <div class="text-danger">
                                <small>{{ error }}</small>
                            </div>
                            {% endfor %}
                    </div>
                    <div class="flex-fill">
                        {{ form.cell_size.label(class="form-label") }}
                            {{ form.cell_size(class="form-control dynamic-input") }}
                            {% for error in form.cell_size.errors %}
                                <div class="text-danger">
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
            {{ form.toggled_advanced() }}
            {{ form.generate_dungeon(class="btn btn-primary") }}
            
            {{ form.more_options(class="btn-check")}}
            {{ form.more_options.label(class="btn btn-outline-secondary showAdvanced")}}
            
        </form>
    </main>
   {% endblock content %}
   {% block scripts %}
    <script>
        function randomNumber(){
            return Math.floor((Math.random() * 10000));
        }
        window.onload = function(){
            document.getElementById("seed").value = randomNumber()
        };
        $(document).ready(function () {
            $('.dynamic-input-CA, .dynamic-input-BSP, .dynamic-input').prop('required', false);
            if($('#toggled_advanced').val() == "False"){
                $('#advancedOptions').hide();
            }

            $('.showAdvanced').click(function() {
                if ($('#advancedOptions').is(':hidden')) {
                    $('#advancedOptions').slideDown();
                    $('.showAdvanced').html("Show Less Options")
                    $('#dungeonSize').hide()
                    $('#toggled_advanced').val("True")
                    var dungeon_type = $('#dungeon_type').val()
                    $('.dynamic-input-' + dungeon_type).prop('required', true);
                    $('.dynamic-input').prop('required', true); 
                } else {
                    $('#advancedOptions').slideUp();
                    $('.showAdvanced').html("Show More Options")
                    $('#dungeonSize').show()
                    $('#toggled_advanced').val("False")
                    var dungeon_type = $('#dungeon_type').val()
                    $('.dynamic-input-' + dungeon_type).prop('required', false);
                    $('.dynamic-input').prop('required', false);
                    
                    var inputs = $('#advancedOptions input');
                    inputs.each(function() {
                        $(this).val('');
                        });
                }
            });

            $('#optionsCA, #optionsBSP').attr('style','display:none !important');
            if ($('#dungeon_type').val() == "CA"){
                $('#optionsCA').show();
            }else{
                $('#optionsBSP').show();
            }    

            $('#dungeon_type').change(function() {
                var dungeon_type = $(this).val();
                // Hide all option input divs
                $('#optionsCA, #optionsBSP').attr('style','display:none !important');
                // Show the corresponding option input div based on the selected value
                $('#options' + dungeon_type).show();

                if ($('#advancedOptions').is(':visible')) {
                    $('.dynamic-input-CA, .dynamic-input-BSP').prop('required', false);
                    $('.dynamic-input-' + dungeon_type).prop('required', true);
                }
               
            });

            $('#bsp_rows').change(function() {
                var value = $(this).val();
                
                $('#bsp_min_partition_height').attr('max', Math.round(value / 2))
            });
            $('#bsp_cols').change(function() {
                var value = $(this).val();
                
                $('#bsp_min_partition_width').attr('max', Math.round(value / 2))
            });
        });
    </script>
{% endblock scripts %}